.filter__content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;

  .manufactures {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 5px;
    @include mq("tablet") {
      flex-direction: row;
    }
    @include mq("desktop") {
      flex-direction: column;
      justify-content: start;
      gap: 0;
    }
    .manufactures__form {
      margin-bottom: 5px;
      @include mq("tablet") {
        margin-left: 5px;
        margin-right: 5px;
      }
      @include mq("desktop") {
        width: 225px;
      }
    }
  }
  .feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 5px;
    @include mq("tablet") {
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include mq("desktop") {
      justify-content: start;
      gap: 0;
    }
    .feature__form {
      @include mq("tablet") {
        margin-left: 5px;
        margin-right: 5px;
      }
      @include mq("desktop") {
        width: 225px;
      }
    }
  }
}
