.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 20px;
  line-height: 22px;

  .header__navigate {
    .navigate__list {
      list-style-type: none;
      display: flex;
      gap: 40px;

      .navigate__link {
        text-decoration: none;
      }
    }
  }
}

.underline {
  border-bottom: 1px solid black;
}
