// BREACKPOINTS:

$breakpoints: (
  "phone": 320px,
  "tablet": 641px,
  "desktop": 993px,
);

// COLORS:

$green: green;

// MIXINS:

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// @mixin for-size($size) {
//   @media (min-width: $size) {
//     @content;
//   }
// }
