:root {
  --tw-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
}

// BREACKPOINTS:

$breakpoints: (
  "phone": 320px,
  "tablet": 641px,
  "desktop": 993px,
);

//FONTS:

$fontSize: 16px;

// COLORS:

$mainGray: #333333;
$mainText: #ffffff;

$accentOrange: #ffa500;
$accentLightGray: #cccccc;
$accentDarkGray: #666666;

$secondarySuperLightGray: #f5f5f5;
$secondaryMiddleGray: #999999;
$secondaryDarkGray: #444444;

$green: green;
$secFontColor: #525866;
$DarkBG: #e9edf7;
$LabelSuccessColor: #009d3f;
$LabelSuccessBGColor: #e1f5e9;
$LabelPrimaryColor: #2469f2;
$LabelPrimaryBGColor: #e6f1ff;
$LabelWarningColor: #ff7236;
$LabelWarningBGColor: #fff1eb;

// MIXINS:

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
